<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1088240460005-696hnpq2g4a1pok3u5i20qk1r9fh12jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088240460005-696hnpq2g4a1pok3u5i20qk1r9fh12jr</string>
	<key>API_KEY</key>
	<string>AIzaSyCexHCyHIEF351dCE25agFh37lzS9aWCNM</string>
	<key>GCM_SENDER_ID</key>
	<string>1088240460005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.agora.fangyu123</string>
	<key>PROJECT_ID</key>
	<string>fangyu123-a7d65</string>
	<key>STORAGE_BUCKET</key>
	<string>fangyu123-a7d65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088240460005:ios:d75ede52b43e3fb9</string>
	<key>DATABASE_URL</key>
	<string>https://fangyu123-a7d65.firebaseio.com</string>
</dict>
</plist>